<body  class="text-center" >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

  <%= form_with model:@user, url:user_registration_path, html:{class:"form-signin needs-validation", novalidate:true}, local:true do |f| %>


    <%= image_tag "logo.png", class:"mb-4", alt:"", width:72, height:72%>

    <h1 class="h3 mb-3 font-weight-normal">サインアップ</h1>
    <%= f.text_field :nickname, class:"form-control", id:"inputNickname", placeholder:"ニックネーム", required:true, autofocus:true %>
    <%= f.email_field :email, class:"form-control", id:"inputEmail", placeholder:"メールアドレス", required:true %>
    <%= f.password_field :password, class:"form-control", id:"inputPassword", placeholder:"パスワード", required:true %>
    <%= f.password_field :password_confirmation, class:"form-control", id:"inputPasswordConfirmation", placeholder:"同じパスワードを入力", required:true %>
    <%= f.submit "サインアップ", class:"btn btn-lg btn-primary btn-block" %>
  <%end%>
</body>