
<div class="main py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      <div class="col">
          <%= image_tag @user.avatar, class:"mh-10 rounded-circle", width:"300", height:"300" if @user.avatar.attached? %>
        </div>
        </div>
        <div class="col-md-6">
        <div class="h1 col">
          <%= @user.nickname %>
        <div class="h2 col">
          <%= @user.profile %>
          <% if @user.id == current_user.id%>
          <%= form_with model:@user, url:edit_user_registration_path, method:"get", local: true do |f| %>
            <%= f.submit "プロフィールを編集する", class:"btn btn-lg btn-primary btn-block mt-5"%>
          <% end %>
          <% end %>
        </div>
        </div>
      </div>

      <% @contents.each do |c| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
        <%= link_to content_path(c.id) do %>
            <%= image_tag c.image, class:"card-img-top", alt:"Card image cap" if c.image.attached? %>
          </div>
        </div>
      <% end %>
      <% end %>

      <% if @contents == [] %>
        <% 5.times do %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="https://picsum.photos/seed/picsum/300" alt="Card image cap">
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
