<div class="main py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="h2">
          <%= image_tag "logo.png", class:"mh-10", width:"35"%>
          <%= @user.nickname %>
        </div>
      <div class="col">
        <%= image_tag @content.image, class:"img-fluid"%>
      </div>
      </div>
      <div class="col-md-3">テキスト
      <div class="">
        <%= @content.text %>
    </div>
    </div>
      <div class="col-md-3">コメント
      <div class="">

      <% @comments.each do |c| %>
      <p>
        <a><%= c.user_id %></a>
        <a><%= c.text %></a>
      </p>  
      <% end %>

        <%= form_with model:@comment, url:content_comment_index_path(@content), local: true do |f| %>
          <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>
          <%= f.hidden_field :content_id, value: @content.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "SEND" %>
        <% end %>
    </div>
    </div>
    </div>
  </div>
</div>